version: "3.3"
services:
  ui:
    image: colonysamples/movies-ui
    build: './movies-ui'
    ports:
      - 80:80
  api:
    image: colonysamples/movies-api
    build: './movies-api'
    ports:
      - 7000:7000
  db:
    image: mongo
    ports:
      - 27017:27017
    